::selection {
    background: #d02670;
}

.flash {
    animation: flash .8s;
    animation-iteration-count: infinite;
}
@keyframes flash {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }

}


.slide-in-right {
    animation: slide-in-right .5s cubic-bezier(0.550, 0.055, 0.675, 0.190) forwards;
}
@keyframes slide-in-right {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}

.slide-out-right {
    animation: slide-out-right .5s cubic-bezier(0.550, 0.055, 0.675, 0.190) forwards;
}
@keyframes slide-out-right {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(100%);
    }
}

.fade-out {
    animation: fade-out 1s ease-in forwards;
}
@keyframes fade-out {
    0% {
        opacity: 1;
        visibility: visible;
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
}